<h1> TITLE: </h1>
<hr>
<h2>SUBTITLE<h2/>
<hr style="border-top: 10px groove blue; margin-top: 1px; margin-bottom: 1px">

<img src="INSERT PICTURE" style="vertical-align:bottom">
<br>
<br>

## Project Outline
<hr style="border-top: 10px groove blue; margin-top: 1px; margin-bottom: 1px">

### 1. Acquire, prepare and clean data set.

- ACQUIRE DESCRIPTION 
<br>

### 2. Perform Exploratory Data Analysis on the unencoded data set

- EDA DESCRIPTION
    
### 3. Recommendations and Takeaways:

- document takeaways and conclusion

## Executive Summary:
<hr style="border-top: 10px groove blue; margin-top: 1px; margin-bottom: 1px">

<h2>Questions we answered</h2>
<hr style="border-top: 5px groove limegreen; margin-top: 1px; margin-bottom: 1px">

<h3> Q1?</h3>
- Answer.

<h3> Q2? </h3>
- Answer.

<h3> Q3? </h3>
- Answer.

<h3> Q4? </h3>
- Answer.

<h3> Q5? </h3>
- Answer.

<h3> Q6? </h3>
- Answer.

<h3> Q7? </h3>
- Answer.

## 1. Data Wrangle: Show off our Acquire/Prep/Cleaned DataFrame. Summary of removed data.
<hr style="border-top: 10px groove blue; margin-top: 1px; margin-bottom: 1px">

In [1]:
## Import function code/master prepare DF
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import acquire
import prepare
import explore
from env import get_db_url
import time
import warnings
warnings.filterwarnings("ignore")

## 2. Exploratory Data Analysis
<hr style="border-top: 10px groove blue; margin-top: 1px; margin-bottom: 1px">

In [2]:
# master visual settings.

plt.rcParams['axes.labelsize'] = 5
plt.rcParams['axes.titlesize'] = 20
plt.figure(figsize=(35, 12), constrained_layout=True)

***

<div class="alert alert-block alert-success">
    <b>Q1.</b> Which lesson appears to attract the most traffic consistently across cohorts (per program)?
</div>

#### How can I answer this question?
- Group by Program
- Get an aggregated count of the path(s) per program
- Identify lessons that attract the most traffic

In [3]:
# call and set the dataframe
df1 = prepare.prepare_logs()
df1 = prepare.get_q6_eda_df()

#### First I will drop nulls so that all cohorts match with a path (lesson)

In [4]:
df1 = df1.dropna()

#### Then, I'll remove some excess paths that aren't defined as lessons. (This is not all of them, just as many as could be found in the allotted time.)

In [5]:
explore.q1_remove_columns(df1)

#### Finally, I'll create a dataframe for each program to properly answer the question.

In [6]:
# gets full stack java dataframe
java = explore.q1_full_stack_java(df1)

# gets data science dataframe
data_science = explore.q1_data_science_program(df1)

# gets full stack php dataframe
php = explore.q1_full_stack_php(df1)

# gets front end programming dataframe
front_end = explore.q1_front_end_programming(df1)

---

### Exploring Question 1

To explore this question, I took a look at the top most active and most visited paths to answer the question 'which lesson appears to attract the most traffic'.

#### Exploring the Full Stack Java program:

In [7]:
explore.q1_display_paths_java(java)

                           path
/                         35814
javascript-i              17457
toc                       17428
search/search_index.json  15212
java-iii                  12683
html-css                  12569
java-ii                   11719
spring                    11376
jquery                    10693
mysql                     10318
java-i                    10016

#### Exploring the Data Science program

In [8]:
explore.q1_display_path_ds(data_science)

                                          path
/                                         8358
search/search_index.json                  2203
classification/overview                   1785
1-fundamentals/modern-data-scientist.jpg  1655
1-fundamentals/AI-ML-DL-timeline.jpg      1651
1-fundamentals/1.1-intro-to-data-science  1633
classification/scale_features_or_not.svg  1590

#### Exploring the Full Stack PHP program

In [9]:
explore.q1_display_path_php(php)

                  path
/                 1681
index.html        1011
javascript-i       736
html-css           542
spring             501
java-iii           479
java-ii            454
java-i             444
javascript-ii      429
appendix           409
jquery             344
mysql              284
content/html-css   262

#### Exploring the Front End Programming program

In [10]:
pd.DataFrame(front_end.path.value_counts())

                                             path
content/html-css                                2
/                                               1
content/html-css/gitbook/images/favicon.ico     1
content/html-css/introduction.html              1

<div class="alert alert-block alert-warning"> 
    
## Question 1: Takeaway
    
### _"Which lesson appears to attract the most traffic consistently across cohorts (per program)?"_
    
</div>

<div class="alert alert-block alert-warning"> 
    
#### Full Stack Java
The lesson with the most traffic in the Full Stack Java program is Javascript I.
    
</div>

<div class="alert alert-block alert-warning"> 
    
#### Data Science Program
The lesson with the most traffic in the Data Science program is Classification.
    
</div>

<div class="alert alert-block alert-warning"> 
    
#### Full Stack PHP Program
The lesson with the most traffic in the Full Stack PHP program is also Javascript I. 
    
</div>

<div class="alert alert-block alert-warning"> 
    
#### Front End Programming Program
The lesson with the most traffic in the Front End Programming program is HTML-CSS
    
</div>

##### SQL has the most traffic consitently across all cohorts and programs, not including the Front End Programming program which has a sample of 5.

***

***

<div class="alert alert-block alert-success">
    <b>Q2.</b> QUESTION HERE
</div>

In [ ]:
### Narrative here

In [ ]:
### explore code, visualization code here

#(visualizations/dataframes below. Do not exceed 5. Include takeaway in MD after each visual/DF. Refer to master scaling parameters for font and chart size)

<div class="alert alert-block alert-warning"> 
    
<b>Takeaway:</b>
    
- TAKEAWAY and QUESTION ANSWER HERE
    
</div>

***

***

<div class="alert alert-block alert-success">
    <b>Q3.</b> QUESTION HERE
</div>

In [ ]:
### Narrative here

In [ ]:
### explore code, visualization code here

#(visualizations/dataframes below. Do not exceed 5. Include takeaway in MD after each visual/DF. Refer to master scaling parameters for font and chart size)

In [ ]:
df = prepare.prepare_logs()
df3 = explore.explore_question3(df)

In [ ]:
plt.figure(figsize=(20,15)) 
(df3.cohort_dates.value_counts()/df3.user_id.groupby(df3.cohort_dates).nunique()).sort_values(ascending=True).plot(kind='barh', fontsize=25)
plt.title('Average User Access Counts Per Program/Cohort', fontsize=20)

#### Takeaways: Average User Access Counts Per Program/Cohort Graph
- While there does seem to be a signifant difference in program access for certain cohorts, it is unclear why based on data presented here. There does not appear to be a relationship with the type of program or cohort dates. With additional date (ie. instructors, in-person vs. virtual), I could assess this relationship further.

#### Graph:
what this is for...

In [ ]:
bottom_5, bottom_25, middle, top_25, all_users, middle_users, top_25_users, bottom_25_users, bottom_5_users = explore.q3_create_percentile_dfs(df3)

#### summary of new dfs

#### Graph:
what this is for....

In [ ]:
explore.q3_plot_counts(bottom_5, bottom_25, middle, top_25)

#### Takeaways: Access Counts Sub-pops

#### Graph: Trends
- what this is for

In [ ]:
explore.q3_plot_trends(top_25, middle, bottom_25, bottom_5)

#### Takeaways

#### Graph what is this for

In [ ]:
explore.q3_plot_hists(all_users, bottom_5_users, bottom_25_users, middle_users, top_25_users)

<div class="alert alert-block alert-warning"> 
    
<b>Takeaway:</b>
    
- TAKEAWAY and QUESTION ANSWER HERE
    
</div>

***

***

<div class="alert alert-block alert-success">
    <b>Q4.</b> QUESTION HERE
</div>

In [ ]:
### Narrative here

In [ ]:
### explore code, visualization code here

#(visualizations/dataframes below. Do not exceed 5. Include takeaway in MD after each visual/DF. Refer to master scaling parameters for font and chart size)

<div class="alert alert-block alert-warning"> 
    
<b>Takeaway:</b>
    
- TAKEAWAY and QUESTION ANSWER HERE
    
</div>

***

***

<div class="alert alert-block alert-success">
    <b>Q5.</b> QUESTION HERE
</div>

In [ ]:
### Narrative here

In [ ]:
### explore code, visualization code here

#(visualizations/dataframes below. Do not exceed 5. Include takeaway in MD after each visual/DF. Refer to master scaling parameters for font and chart size)

<div class="alert alert-block alert-warning"> 
    
<b>Takeaway:</b>
    
- TAKEAWAY and QUESTION ANSWER HERE
    
</div>

***

***

<div class="alert alert-block alert-success">
    <b>Q6.</b> QUESTION HERE
</div>

In [ ]:
### Narrative here

In [ ]:
### explore code, visualization code here

#(visualizations/dataframes below. Do not exceed 5. Include takeaway in MD after each visual/DF. Refer to master scaling parameters for font and chart size)

<div class="alert alert-block alert-warning"> 
    
<b>Takeaway:</b>
    
- TAKEAWAY and QUESTION ANSWER HERE
    
</div>

***

***

<div class="alert alert-block alert-success">
    <b>Q7.</b> QUESTION HERE
</div>

#### How to answer this question?

This can be very simple or complex depending on how the question is being asked. I will answer the question 2 different ways, but there are many other ways the question can be observed. 

- Least accessed overall
- Least accessed by program

_Least accessed by cohort could work only if I can recreate a dataframe that correctly holds values in 'path' that represent a proper lesson from codeup. As the path is currently jumbled with miscellaneous paths, it would take a extra amounts of time to identify paths then create this dataframe that I do not have for the course of this project_

### Least Accessed Overall

For the least accessed overall, I will identify the least accessed as paths that have been accessed at least 75 times but no more than 100 times. This is because the number of paths that have been accessed less than 75 times is over 9,500. While there may be a lesson in there that has been accessed only once, the sample is too small to call it active or relevant.

In [11]:
least_accessed = explore.q1_get_least_accessed(df1)
least_accessed.head()

,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id,date_time
506604,6-regression/2-acquire-and-prep,616,55.0,70.114.9.241,curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,data_science,2020-04-08 11:39:02
506668,6-regression/2-acquire-and-prep,580,55.0,74.192.167.159,curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,data_science,2020-04-08 12:00:27
506723,6-regression/2-acquire-and-prep,580,55.0,74.192.167.159,curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,data_science,2020-04-08 12:26:49
506747,6-regression/2-acquire-and-prep,580,55.0,74.192.167.159,curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,data_science,2020-04-08 12:52:54
506827,6-regression/2-acquire-and-prep,576,55.0,99.126.113.140,curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,data_science,2020-04-08 13:37:16

<div class="alert alert-block alert-warning"> 
    
<b>Takeaway:</b>
    
The least access path with the set conditions is the `Regression, acquire and prepare lesson.`
    
&nbsp; 
    
This lesson was accessed by the Data Science cohorts `Curie, Bayes and Darden` for a total of `77 times`. The last access date for this lesson was `January 22nd, 2021`.  
    
</div>

### Least Accessed Controlling for Program

### Full Stack Java

In [12]:
explore.q1_display_least_accessed(java)

                                               path
python/series                                    84
classification/decision-trees                    82
appendix/extra-challenges/java-file-io-extras    80
timeseries/prep                                  80
python/functions                                 79
6-regression/2.0-acquire-and-prep                77
python/dataframes                                77
appendix/angular/models                          76
8-clustering/3-wrangle                           76
6-regression/5.0-evaluate                        76
9-timeseries/3-prep                              76
classification/tidy-data                         76

### Data Science

In [13]:
explore.q1_display_least_accessed(data_science)

                                       path
4-python/7.4.1-pandas-overview           84
12-distributed-ml/6-ml-with-spark        84
4-python/8.4.1-pandas-overview           83
individual-project/individual-project    81
6-regression/4-explore                   80
storytelling/creating-charts             79
appendix/documentation                   78

### Full Stack PHP

In [14]:
explore.q1_display_least_accessed(php)

                                             path
content/git/creating-a-repository.html         84
content/html-css/gitbook/images/favicon.ico    83
mysql/relationships/indexes                    82
java-iii/finish-the-adlister                   79
content/javascript_ii                          77
content/mysql/intro-to-mysql                   77
jquery/ajax                                    77
mysql/intellij                                 76

### Front End Programming

#### The least accessed for Front End Programming is HTML-CSS as it is the only lessons that were offered.

<div class="alert alert-block alert-warning"> 
    
<b>Takeaway:</b>
#### Full Stack Program
    
The least access path in the Full Stack Java Program is the `Classification, tidy-data lesson.`
    
&nbsp; 
    
This lesson was accessed by the Full Stack Java cohorts, but mainly `Staff` for a total of `76 times`. The last access date for this lesson was `April 21st, 2021`.  

&nbsp; 
    
#### Data Science Program
    
The least access path in the Data Science program is the `Story-telling, creating charts` lesson.`
    
&nbsp; 
    
This lesson was accessed by the Data Science cohorts for a total of `79 times`. The last access date for this lesson was `April 21st, 2021`.  
    
&nbsp; 
    
#### PHP Program
    
The least access path in the Full Stack PHP is the `MySQL, intellij` lesson.
    
&nbsp; 
    
This lesson was accessed by the Full Stack PHP cohorts for a total of `76 times`. The last access date for this lesson was `April 10th, 2021`.  
    
&nbsp; 

#### Front End Programming    
Front end programming sample size is `too small` to properly define as having a least accessed lesson, when it didn't offer many lessons to a sizable group of individuals. However, it did have `2 visits on the HTML-CSS Program`
    
    
    
</div>

***

***

<div class="alert alert-block alert-warning">
    <b> SUMMARY of Takeaways:</b>
<br>
1. SUMMARY of Q1
<br>
2. SUMMARY of Q2
<br>
3. SUMMARY of Q3
<br>
4. SUMMARY of Q4
<br>
5. SUMMARY of Q5
<br>
6. SUMMARY of Q6
<br>
7. SUMMARY of Q7
<br>
</div>

# 3. Key Findings and Recommendations
<hr style="border-top: 10px groove blue; margin-top: 1px; margin-bottom: 1px">

<h2> Key Findings</h2>
<br>
<hr style="border-top: 5px groove limegreen; margin-top: 1px; margin-bottom: 1px">
1. Finding 1
    <br>
    <br>
2. Finding 2

<h2> Recommendations </h2>
<br>
<hr style="border-top: 5px groove limegreen; margin-top: 1px; margin-bottom: 1px">

<b> 1. Recommendation 1 <b>
<br>
<b> 2. Recommendation 2<b>
<br>
<b> 3. Recommendation 3 <b>